= Skeleton based deformation - Skinning

* __Objective__: Deform articulated character
* __Idea__: Use skeleton to control limbs
** Articulations as rotations

div::[height:50px;]::

* **Animation Skeleton** 
** Set of frames \(\mathrm{M}_i\): position, orientation
*** __Describe non-rigid parts of the character (dof)__

div::[height:50px;]::

* __Terminology__
** **Joint** = A frame \(\mathrm{M}_i\)
** **Bone** = Segment between two joints

div::[height:50px;]::

div::[font-size:85%;]
__Note: Animation skeleton \(\neq\) Anatomical skeleton__
::

div::[position:fixed; top:100px; right:100px;]
img::assets/skeleton.png[width:600px;]
::

div::[position:fixed; bottom:50px; left:900px;]
img::assets/chat.png[width:600px;]
::