

= Position and speed of a point on the rigid body

* The center of mass has, at time \(t\), 
** - a position \(p(t)\)
** - a velocity \(p'(t)=v(t)\)

div::[height:50px;]::

* The body has an orientation \(\mathrm{R}(t)\)

div::[height:50px;]::

* A point of the rigid body has
div::[height:25px;]::
** - a position <div class="border">\(p_i(t)=p(t)+R(t)\,r_0\) </div>
div::[font-size:85%; line-height:1.3em;]
**** __with \(r_0=p_i(0)-p(0)\)__
::
div::[height:50px;]::
** - a speed <div class="border">\(p'_i(t)=v(t)+R'(t)\,r_0\)</div>

div::[position:fixed; top:250px; right:75px;]
img::assets/orientation.svg[width:950px;]
::