= Harmonic Coordinates VS Mean Value Coordinates

img::assets/comparison_02.jpg[width:800px;] <br>
img::assets/comparison_01.jpg[width:800px;]

div::[position:fixed; top:400px; right:75px;]
videoplay::assets/video_harmonic_coordinates.mp4[width:800px]{controls}
::