

= Angular speed

* Speed of \(p_i\;\): \(\;\;p'_i(t)=v(t)+\mathrm{R}'(t)\,r_0\)

div::[height:25px;]::

* Introduce angular speed \(\omega\in\mathbb{R}^3\) such that
** <div class="border">\(p'_i(t)=v(t) + \omega(t) \times r(t)\)</div>
** __\(\omega\) \(\simeq\) vector expressing the instantaneous rotation of \(r(t)\)__

div::[height:25px;]::

* By identification \(\mathrm{R}'(t)\,r_0 = \omega(t)\times r(t)\)
* \(\Rightarrow \mathrm{R}'(t)\,r_0 = \omega(t)\times (\mathrm{R}(t)\,r_0)\)

div::[height:50px;]::

* Matrix expression of \(\omega=(\omega_x,\omega_y,\omega_z)\)
** \(\hat \omega=\left(\begin{array}{c}0 & -\omega_z & \omega_y \\ \omega_z & 0 & -\omega_x \\ -\omega_y & \omega_x & 0 \end{array}\right)\)

div::[height:25px;]::

* <div class="border">\(\Rightarrow \mathrm{R}'(t) = \hat\omega(t) \, \mathrm{R}(t)\)</div>


div::[position:fixed; top:200px; right:100px;]
img::assets/orientation.svg[width:450px;]
::