div::[text-align:center; margin-top:300px; font-size:150%; line-height:1.8em;]
= Shape deformation (II)

div::[]
* Volume-based deformation 
::[text-align:left; margin-left:500px; line-height:1.3em; font-size:80%;]
** __Free Form Deformation__
** __Cages__
** __Vector field__
::
::

::

