

= Rigid bodies usage

* - Standard usage for rigid bodies motions
** - Limited to non-deformable shapes

* - Common in VFX (explosions), and __simulation games__ (cars, airplanes, etc).
* - Standard library: link::https://pybullet.org[Bullet physics] (ex. used in Blender).

div::[height:50px;]::

div::[text-align:center;]
videoplay::assets/bullet.webm[width:800px;]
::

div::[position:fixed; top:100px; left:1350px;]
img::assets/bullet.png[width:400px;]
::