= Use of deep learning

* Deep reinforcement learning for complex optimization
div::[font-size:85%; line-height:1.3em;]
** Learn muscle activation
::

* <div class="ref">link::http://mrl.snu.ac.kr/research/ProjectDragon/Dragon.htm[Won et al. How to Train Your Dragon: Example-Guided Control of Flapping Flight, ACM SIGGRAPH Asia 2017]</div>

img::assets/dragon.png[width:1000px;]


div::[height:50px;]::

* Deep learning for real-time motion control
div::[font-size:85%; line-height:1.3em;]
** Learn phase of the motion cycle.
** Use large data base of motion capture data
::

* <div class="ref">link::http://theorangeduck.com/media/uploads/other_stuff/phasefunction.pdf[Holden et al., Phase-Functioned Neural Networks for Character Control, ACM TOG 2017]</div>

div::[position:fixed; top:600px; right:50px;]
video::assets/holden_2017.webm[width:650px;]{autoplay loop muted}
::