= SPH examples

div::[position:fixed; top:180px; left:100px;]
videoplay::assets/muller.mp4[width:600px]

div::[text-align:center] link::http://matthias-mueller-fischer.ch/publications/sca03.pdf[Muller 2003] ::
::


div::[position:fixed; top:180px; left:800px;]
videoplay::assets/teschner_20M.mp4[width:900px]

div::[] link::https://graphics.ethz.ch/~sobarbar/papers/Sol12/Sol12.pdf[M. Teschner 2012] - 20M particles ::
::

div::[position:fixed; top:700px; left:1400px;]
img::assets/teschner.png[width:450px]
::
