

= Notion of impulse

* An impulse \(J\) is the integrated force over time \(\displaystyle J=\int_{t_1}^{t_2} F(t)\,\mathrm{d}t\)
** \(\rightarrow\) results in a sudden change of speed (/momentum) in a discrete case

div::[height:50px;]::

* For a particle with constant mass 
** \(\displaystyle \int_{t_1}^{t_2} F(t)\,\mathrm{d}t = \int_{t_1}^{t_2} m\,a(t)\;\mathrm{d}t\)
** \(\Rightarrow J = m\left(v(t_2)-v(t_1)\right)\)


div::[height:50px;]::

* For an impact \(v\to v^{new}\) 
** \(v^{new}=v+J/m\)




div::[position:fixed; top:400px; right:200px;]
img::assets/sphere_impulse.svg[width:450px;]
::
