

= Objective


* - Given a set of key-positions (positions+time) we want to find an interpolating space-time curve

div::[height:50px;]::

div::[text-align:center;]
img::assets/positions.png[width:650px]
::

div::[height:25px;]::

* - **Input** \((p_i,t_i), i \in [0,N-1] \)
* - **Output**
** - Space time curve \(p(t), t\in[t_0,t_{N-1}]\)
** - Space time curve \(p(t_i)=p_i\)

