= 3 - Divergence Free Vector Field

div::[display:flex; align-items:center;]
div::[width:500px;]
* Before projection:
::
img::assets/no_projection.png[height:425px;]
videoplay::assets/texture_no_projection.mp4[height:425px;]
::

div::[display:flex; align-items:center;]
div::[width:500px;]
* After projection:
::
img::assets/projection.png[height:425px;-]
videoplay::assets/texture_projection.mp4[height:425px;]
::

div::[position:fixed; top:700px; right:75px;]
div::[font-size:80%;]
* \(div(v)=0\)
* \(v^x_{x+1,y}+v^x_{x-1,y}\)
** \(+v^y_{x,y+1}+v^y_{x,y-1}=0\)
::
::