
= Perlin Noise - Animation

div::[position:fixed; top:100px; right:50px;]
div::[line-height:1.3em; font-size:80%;]
* Reference surface function:  \((u,v)\in[0,1]^2\,,\;f(u,v)=(u,v,0)\)
* **Q.** How generate the following animations ? \(S(u,v,t)=...\)
::
::


video::assets/perlin_01.mp4[width:500px]{autoplay loop muted}
video::assets/perlin_02.mp4[width:500px]{autoplay loop muted}
video::assets/perlin_03.mp4[width:500px]{autoplay loop muted}

video::assets/perlin_04.mp4[width:500px]{autoplay loop muted}
video::assets/perlin_05.mp4[width:500px]{autoplay loop muted}
video::assets/perlin_06.mp4[width:500px]{autoplay loop muted}

div::[position:fixed; top:525px; left:250px;] a ::
div::[position:fixed; top:525px; left:750px;] b ::
div::[position:fixed; top:525px; left:1250px;] c ::

div::[position:fixed; top:975px; left:250px;] d ::
div::[position:fixed; top:975px; left:750px;] e ::
div::[position:fixed; top:975px; left:1250px;] f ::