

= Physically-based particle system


div::[width:1100px;]
* **Pro**
** (+) Simple to implement, and control.
** (+) Efficient to compute, scalable
** (+) Highly adaptable from simple particle to rigid and deformable models

div::[height:50px;]::
::

* **Cons**
** (-) Limited accuracy - highly simplified model from physical point of view.

** \(\Rightarrow\) Dominant model in CG production for general purpose deformable model animation.

div::[height:50px;]::

* __Common use: Lots of sparsely interacting particles__



div::[position:fixed; top:150px; left:1200px;]
videoplay::assets/physx_nvidia.webm[width:100%;]
::