
= Layout: Moving into 3D

div::[line-height:1.3em;]
* 1st step: Rough 3D modeling and placement of

div::[height:25px;]::

** - Camera: visual field, perspective
div::[font-size:85%;]
*** __3D much more constrained than 2D drawings__
::

div::[height:25px;]::

** - Shape volumes, continuity
div::[font-size:85%;]
*** __No details: face, etc.__
*** __Choice between 3D/2D elements__
::
::

div::[height:50px;]::

img::assets/monster.jpg[width:575px;]
img::assets/layout_mesh.jpg[width:575px;]
img::assets/monster3d.jpg[width:575px;]