= Optimizing muscle activation

div::[line-height:1.3em;]
* - Take into account simple biomechanical model
* - Optimize sequence of activation via reinforcement learning
::

* <div class="ref"> link::assets/2013-TOG-MuscleBasedBipeds.pdf[Flexible Muscle-Based Locomotion for Bipedal Creatures, T. Geijtenbeek et al. SIGGRAPH Asia 2013.] </div>

div::[height:50px;]::

video::assets/panne_2013.webm[width:1000px;]{autoplay controls loop muted}





div::[position:fixed; top:150px; right:100px;]
img::assets/muscle_optimisation.jpg[width:475px;] <br>
img::assets/muscle_optimisation2.jpg[width:450px;]
::