

= Principles of animation

div::[line-height:1.3em;]

* - Interpolation between realistic poses isn't enough for expressive animation
* - __12 principles of animation__ by Disney __Illusion of Life, 1981__


div::[position:fixed; top:400px; left:800px;]
img::assets/nolife.gif[]
img::assets/life.gif[]
div::[font-size:75%; text-align:center;]
(C) Chiara Porri 
::
::

div::[margin-left:50px; margin-top:50px;]

* 1. Timing
* 2. Spacing
* 3. Slow-in, Slow-out
* 4. Squash & Stretch
* 5. Anticipation
* 6. Follow Through
* 7. Secondary Action
* 8. Exaggeration
* 9. Appeal
* 10. Arcs
* 11. Staging
* 12. Straight Ahead/Pose to Pose

::

::