
= Animation

* In production terminology: Animation = Key-frame animation of the rigged character
** Set animation curves on rig controlers
* __Everything else is VFX__

div::[height:25px;]::

div::[display:flex; justify-content:space-around;]
div::[]
videoplay::assets/walk_cycle_fast.mp4[width:700px;]{controls}
div::[color:gray; font-size:80%; font-style:italic; text-align:center;]
Animating the walk cycle (\(\times\)40)
::
::
div::[]
videoplay::assets/walk_cycle_final.mp4[width:700px;]{controls}
div::[color:gray; font-size:80%; font-style:italic; text-align:center;]
Result
::
::
::

* Up to 75% of artists production studios are animators
** Animation = The key element - higher cost - for production studios
* One animator \(\to\) 1-10 \(s\) of animation per day