= Harmonic Coordinates

* \(\omega\) solution of the harmonic equation
** \(\triangle \omega(p) = 0 \)
** \(\omega_i(p_j)=\delta_{ij}\)

div::[height:50px;]::

* (-) No-closed form solution: requires numerical solver.
* (+) Positive weights, even for concave cages

div::[height:50px;]::

img::assets/results.jpg[height:250px;]
img::assets/results_harmonic_weights.jpg[height:250px;]

::(.ref) link::assets/harmonic_siggraph_2007.pdf[Pushkar Joshi, Mark Meyer, Tony DeRose. Harmonic Coordinates for Character Articulation. SIGGRAPH 2007.] ::