
= Animatic

* \(\simeq\) Animated story-board, Various format
* __Rough sense of timing, visual, action: details not necessarily followed precisely in the final version.__


div::[position:fixed; top:700px; left:200px;]
videoplay::assets/final_toy_story.webm[width:400px;]{controls}
::

div::[position:fixed; top:700px; left:775px;]
videoplay::assets/final_bick_buck_bunny.mp4[width:400px;]{controls}
::

div::[position:fixed; top:350px; left:100px;]
div::[display:flex; justify-content:space-between; width:1750px;]
videoplay::assets/animatic_toy_story.mp4[width:575px;]{controls}
videoplay::assets/animatic_bunny.ogg[width:575px;]{controls}
videoplay::assets/animatic_shreck.mp4[width:575px;]{controls}
::
::

