= Wachspress Coordinates


* \(\displaystyle w_i=\frac{A_{i+1}+A_i-B_i}{A_{i+1}\,A_i}\)

div::[height:25px;]::

* \(\displaystyle w_i=\frac{cot(\alpha_{i-1})+cot(\beta_i)}{\|p_i-p\|}\)

div::[height:50px;]::

* Introduced in 1975, Eugene Wachspress, A Rational Finite Element Basis.


div::[height:25px;]::

img::assets/coordinates_color.jpg[width:600px;]

* (-) Limited to 2D
* (-) Limited to convex polygons (negative weights, poles)




div::[position:fixed; top:50px; right:50px;]
img::assets/wachspress_coordinates.svg[width:400px;]
::

