= Motion transfert

div::[display:flex; justify-content:space-around;]
div::[width:1200px;]
div::[font-size:75%; line-height:1.6em;]
* - Local coordinates mapping from skeletal motions
** - link::http://slim.chrishecker.com/images/c/cb/Sporeanim-siggraph08.pdf[[C. Hecker et al., Real-time Motion Retargeting to Highly Varied User-Created Morphologies, SIGGRAPH 2008]] (Spore)
* - Including shape morphology
** - link::https://people.rennes.inria.fr/Ludovic.Hoyet/Documents/Articles/2018_MIG.pdf[[Z. Liu et al., Surface based Motion Retargeting by Preserving Spatial Relationship, MIG 2018]]
::
::
div::[]
videoplay::assets/hecker.webm[width:500px]
::
::

div::[text-align:center]
img::assets/hoyet_2018.png[height:350px;]
img::assets/spore.png[height:350px;]
::
