= Motion graphs

div::[line-height:1.6em;]

* __Also called Move Trees (highly used in video games)__


div::[height:25px;]::

* - Stores multiple precomputed animation 
** __Manually design, motion capture, etc__
* - Find optimal transitions between different motions



div::[height:25px;]::

div::[line-height:1.3em;]
* - <div class="ref" style="display:inline-block;">link::assets/mizuguchi_2001.pdf[Mizuguchi et al., Data driven motion transitions for interactive games, EG short paper, 2001]</div>
* - <div class="ref" style="display:inline-block;">link::http://research.cs.wisc.edu/graphics/Papers/Gleicher/Mocap/mograph.pdf[Kovar et al., Motion Graphs, ACM SIGGRAPH 2002]</div>
* - <div class="ref" style="display:inline-block;">link::https://graphics.cs.wisc.edu/Papers/2007/HG07/PMGFullPaper.pdf[Heck and Gleicher, Parametric Motion Graphs, ACM SIGGRAPH 2007]</div>
::


::

div::[position:fixed; top:100px; left:1300px;]
img::assets/motion_graphs.png[width:500px;]
::

div::[position:fixed; top:650px; left:300px;]
img::assets/motion_graphs_display.png[width:700px;]
::

div::[position:fixed; top:650px; left:1200px;]
img::assets/motion_graphs_full.png[width:600px;]
::