

= Dynamics

* __Similarly to particles__
** Force \(F\) is related to the change of linear momentum \(F(t)=P'(t)=(m\,v)'(t)\) 

div::[height:25px;]::

* __Specific to rigid bodies__
** Torque \(\tau\) is related to the change of angular momentum \(\tau(t)=L'(t)=(I\,\omega)'(t)\) 

== Equation of Motion



* Fundamental principle of dynamics for rigid body

div::[height:25px;]::

** \(\displaystyle \frac{\mathrm{d}}{\mathrm{d}t}\left(\begin{array}{c}p \\ P \\ \mathrm{R} \\ L \end{array}\right)=\left(\begin{array}{c}v \\ F \\ \hat \omega\,\,\mathrm{R} \\ \tau \end{array}\right)\)




