= Affine Transformation Exercises

::[font-size:85%; line-height:1.3em;]

* Q. Express the affine transform (as a \(4 \times 4\) block matrix) corresponding to a rotation \(R\) applied around an arbitrary position \(p_0\) in space.
** > \(M= ...\)

::[position:fixed; top:275px; left:500px]
img::assets/rotation_center.svg[width:350px]
::

::[height:350px;]::

* Q. Consider a shape defined by a triangular mesh with vertex positions \((p_i)_{i\in[1,N]}\).
** > Express the affine transform allowing to rotate the shape around its barycenter.

::[position:fixed; top:575px; left:1400px]
img::assets/shape_rotates.svg[width:450px]
::



::


