= Clothing

div::[width:1100px;]
* - Stich 2D patterns together to generate full cloth
** - Cloths are developable material (preserve length w/r their 2D patterns)
::

div::[position:fixed; top:50px; left:1250px;]
img::assets/thalman.png[width:600px;]
::

div::[display:flex; justify-content:space-around; text-align:center; align-items:flex-end;]
div::[]
img::assets/thalman_2002.jpg[width:600px]
div::[font-size:80%;] [Thalman et al. 2002] ::
::
div::[]
videoplay::assets/clothing.webm[height:500px]
div::[font-size:80%;] link::http://www.cs.columbia.edu/cg/SC/[ [Umetani et al., 2011]] ::
::

::