= Modeling elastic shapes with particles

== Spring mass systems

* - Particles (position, velocity, mass): samples on shape
* - Springs : link closed-by particles in the reference shape

div::[position:fixed; top:100px; left:1300px;]
img::assets/springs.svg[width:350px;]
::

div::[height:200px;]::

div::[display:flex;justify-content:space-around; text-align:center;]
div::[]
* **1D curve structure**

img::assets/1D.svg[width:350px;]

::

div::[]
* **2D surface structure**

img::assets/2D.svg[width:200px;]
::

div::[]
* **3D volume structure**

img::assets/3D.svg[width:260px;]
::

::




