

= Expressive animation

== Anticipation

div::[position:fixed; top:150px; left:500px;]
img::assets/anticipation.png[height:300px; vertical-align:middle;]
div::[display:inline-block; width:100px;]::
img::assets/anticipation_run.gif[height:400px;vertical-align:middle;]
::

div::[position:fixed; top:600px; left:300px;]
img::assets/anticipation_2.png[height:400px; vertical-align:middle;]
div::[display:inline-block; width:100px;]::
img::assets/anticipation_2_anim.gif[height:400px;vertical-align:middle;]
div::[font-size:75%; text-align:center;]
(C) Chiara Porri 
::
::

