= Material model

div::[width:1300px]
div::[line-height:1.4em;]
* **Elasticity**: Shape goes back toward its original rest position when external forces are removed.
** -Purely elastic models don't loose energy when deformed (potential \(\leftrightarrow\) kinetic)

div::[height:25px;]::

* **Plasticity**: Opposite of elasticity. Plastic material don't come back to their original shape (/change their rest position during deformation).
** - Ductile material - can allow large amount of plastic deformation without breaking (plastic)
** - Brittle - Opposite (glass, ceramics)

div::[height:25px;]::

* **Viscosity**: Resistance to flow (usually for fluid, ex. honey)

div::[height:50px;]::

In reality

* - __Elasto-plastic materials__: Allow elastic behavior for small deformation, and plastic at larger one.
* - __Visco-elastic materials__: Elastic properties with delay.

::
::

div::[position:fixed; top:200px; left:1400px;]
img::assets/elastic.jpg[width:450px;]
::

div::[position:fixed; top:650px; left:1425px;]
img::assets/plastic.jpg[width:225px;]
img::assets/honey.jpeg[width:175px;]
::
