= Extension: Detail transfert

* Use laplacian from another surface to transfert details
** Requires a per-vertex correspondance
*** __User defined anchors__

img::assets/detail_transfert.jpg[width:1200px;] 
img::assets/detail_transfert_2.jpg[width:700px;]