= Mass-spring cloth simulation

* - Particles are sampled on a \(N\times N\) grid.
** - Each particle has a mass \(m\) (\(m_{cloth}=N^2\,m\))
* - Set structural, shearing and bending springs.

div::[height:50px;]::

div::[text-align:center;]
img::assets/cloth_springs.png[width:1100px;]
::