

= Explicit Euler - study case

== 1D spring: Analysis of the system energy

div::[font-size:85%;]

div::[height:25px;]::


* - Energy \(E=\frac{1}{2}m v^2 + \frac{K}{2} (p-l^0)^2\)

div::[height:25px;]::

div::[font-size:80%;]
** \(\displaystyle E^{k+1}=\frac{1}{2}m\left(-\frac{K}{m}\Delta t\left(p^k-l^0\right)+v^k\right)^2+\frac{1}{2}K\left(p^k+\Delta t\,v^k-l^0\right)^2\)
div::[height:25px;]::
** \(\displaystyle E^{k+1}= \underbrace{\frac{1}{2} m\,(v^k)^2+\frac{1}{2} K (p^k-l^0)^2}_{E^k} + \frac{1}{2}\left[\underbrace{\frac{K^2}{m}(\Delta t)^2 (p^k-l^0)^2}_{>0} - \underbrace{2\,K \Delta t \left(p^k-l^0\right) \,v^k+2K\Delta t\,(p^k-l^0)\,v^k}_{=0} + \underbrace{K(\Delta t)^2\,(v^k)^2}_{>0} \right] \)
::
div::[height:25px;]::
** \(E^{k+1} = E^{k} + \epsilon \, (\Delta t)^2\), \(\epsilon>0\)
div::[height:25px;]::
** \(\Rightarrow\) gain of energy 
** \(\Rightarrow\) divergence

::