= Affine Transformation Exercises

::[font-size:85%; line-height:1.3em;]

::[width:1100px]

* Q. Consider the affine transform \(M\) parameterized by a scaling \(s\), a rotation \(R\), and a translation \(t\).
** > Express the inverse matrix \(M^{-1}\) with respect to \(s\), \(R\) and \(t\)

::[position:fixed; top:150px; left:1300px]
img::assets/inverse.svg[width:450px]
::

::[height:300px;]::



::


