
= Smooth skinning

div::[font-size:90%; line-height:1.5em;]

* **Linear Blend Skinning** (LBS): Linear interpolation of positions between associated frames

div::[height:25px;]::

* Example at middle vertex position of a bending cylinder
** \(p=0.5\,p_{|b1}+0.5\,p_{|b2}\)
** \(p=0.5\,\underbrace{\mathrm{M}_1\,(\mathrm{M}_1^0)^{-1}}_{\mathrm{T}_1}\, p^0+0.5\,\underbrace{\mathrm{M}_2\,(\mathrm{M}_2^0)^{-1}}_{\mathrm{T}_2}\,p^0\)
** \(p=(0.5\,\mathrm{T}_1+0.5\,\mathrm{T}_2)\,p^0\)


div::[position:fixed; top:400px; right:50px;]
img::assets/smooth_skinning.svg[width:850px;]
::



::