= Parametric deformation

* Use succession of parameterized space varying deformation
** Rotation: Bending, Twisting
** Scaling: Squeezing/tapering, Stretch

::[height:25px;]::

* Old idea: First proposed in ::(.ref) link::assets/barr_1984.pdf[Alan H. Barr. Global and Local Deformations of Solid Primitives. SIGGRAPH 1984] ::

::[height:50px;]::

* (+) Explicit formulation \(q=f(p)\)
* (-) Limited degrees of freedom

::[position:fixed; bottom:100px; right:50px;]
img::assets/deformation.png[width:1100px]
::

