= Rigid Skinning

* (+) Skeleton is easy to build
* (+) Skeleton interaction is intuitive to model rigid articulation
* (-) Discontinuities/Inter-penetrations

div::[height:25px;]::

img::assets/rigid_skinning_01.png[width:150px;]
img::assets/rigid_skinning_02.png[width:400px;]
img::assets/rigid_skinning_03.png[width:400px;]

div::[height:25px;]::

* __Idea of smooth skinning: Blend discontinuous transformation around articulation__