= SPH extensions


* (+) Very versatile (interaction between any deforming shapes)
** __Not only fluids__

div::[width:900px;]
* (-) Not well understood accuracy
* (-) Compressible
div::[font-size:95%; line-height:1.4em;]
** ::(.ref) link::https://graphics.ethz.ch/~sobarbar/papers/Sol09/Sol09.pdf[Solenthaler et al., Predictive-Corrective Incompressible SPH, ACM SIGGRAPH 2009]  ::
** ::(.ref) link::https://cg.informatik.uni-freiburg.de/publications/2013_TVCG_IISPH.pdf[Ihmsen et al, Implicit Incompressible SPH, IEEE TVCG 2013] ::
::
* (-) Limited time step
** span::[font-size:95%;] span::(.ref) link::http://mmacklin.com/pbf_sig_preprint.pdf[Macklin and Muller, Position based Fluids, ACM SIGGRAPH 2013]  :: ::
* (-) Boundaries are hard to handle
div::[font-size:95%; line-height:1.4em;]
** span::(.ref) link::https://cg.informatik.uni-freiburg.de/publications/2018_TOG_pressureBoundaries.pdf[Brand et al., Pressure Boundaries for Implicit Incompressible SPH, ACM TOG 2018] ::
::
::

div::[position:fixed; left:1400px; top:70px; line-height:0.4em;]
videoplay::assets/bruno_levy.mp4[width:350px]
div::[font-size:75%;] Bruno Levy ::
::

div::[position:fixed; right:50px; top:475px;  line-height:1.4em;]
videoplay::assets/pbf_lighthouse.mp4[width:800px] <br>
span::(.ref) link::http://mmacklin.com/pbf_sig_preprint.pdf[Macklin and Muller 2013] :: , span::(.ref) link::assets/yu_turk_sca2010.pdf[Yu and Turk 2009] ::
::

