= Other approaches

* Gradient representation
<div class="ref" style="margin-left:50px;"> link::assets/yu_siggraph_2004.pdf[Mesh editing with Poisson-based gradient field manipulation. Y.Yu et al. SIGGRAPH 2004]</div>

* Bi-Laplacien weights
<div class="ref" style="margin-left:50px;"> link::assets/jacobson_siggraph_2011.pdf[Bounded Biharmonic Weights for Real-Time Deform. A. Jacobson et al. SIGGRAPH 2011] </div>

* Local frame representation
<div class="ref" style="margin-left:50px;"> link::assets/lipman_siggraph_2005.pdf[Linear Rotation-invariant Coordinates for Meshes. Y. Lipman et al. SIGGRAPH 2005] </div>

* Deformation propagation
<div class="ref" style="margin-left:50px;"> link::assets/zayer_eg_2005.pdf[Harmonic Guidance for Surface Deformation. R. Zayer et al. EG 2005] </div>


div::[height:50px;]::

* State of the art
<div class="ref" style="margin-left:50px;"> link::assets/botsch_sorking_tvcg08.pdf[On Linear Variational Surface Deformation Methods. M. Botsch and O. Sorkine. TVCG 2008]</div>

div::[height:25px;]::
img::assets/energies.jpg[width:1400px;]

div::[position:fixed; top:350px; right:75px;]
img::assets/bounded_biharmonic.jpg[width:550px;]
::