

= Physically-based particle system


== 1. Description 
div::[font-size:90%; line-height:1.3em;]
* Particle is fully described by: Position \(p\), Velocity \(v\), Mass \(m\)
div::[line-height:1.4em;]
** __Fundamental quantities: position and linear momentum \(P=m\,v\)__
** __Linear Momentum preserved in isolated system__
::
::

== 2. Evolution

div::[font-size:85%; line-height:1.3em;]
* - Fundamental principle of dynamics

** Force applied on particle \(F(p,v,t)\)
div::[height:25px;]::
** \(\left\{\begin{array}{l}p'(t) = v(t) \\ P'(t) = m\, v'(t) = F(p,v,t)\end{array}\right.\) 

div::[height:25px;]::

* - Conservation of energy (ex. kinetic energy (\(1/2\, m \, v^2\))+potential energy = const, etc.)

div::[height:25px;]::

* - Lagragian, or Hamiltonian (reduced coordinates)


div::[position:fixed; left:1400px; top:250px;]
img::assets/particle.svg[width:300px;]
::

::