= Mean Value - Idea in 3D

div::[font-size:85%; line-height:1.3em;]

In 3D: Integrate over a triangulated sphere

div::[height:25px;]::

* img::assets/coordinates_3D.jpg[width:900px;]

::


div::[position:fixed; top:150px; right:100px;]
img::assets/algorithm.jpg[width:650px;]
::

::(.ref)
link::assets/ju_2005_siggraph.pdf[Mean Value Coordinates for Closed Trianular Meshes. T. Ju et al. SIGGRAPH 2005]
::

