= Mean Value

div::[height:25px;]::

== In 2D

div::[height:25px;]::

* \(\displaystyle \omega_i = \frac{\tan(\alpha_{i-1}/2)+\tan(\alpha_i/2)}{\|p_i-p\|} \)

div::[font-size:85%;]
::(.ref) link::https://www.mn.uio.no/math/english/people/aca/michaelf/papers/mean_value.pdf[Michael S. Floater. Mean value coordinates. CAGD, 2003] ::
::

div::[height:75px;]::

== In 3D

div::[height:25px;]::

* \(\displaystyle \omega_i=\frac{n_i \cdot m}{n_i \cdot (p_i-v)}\)

div::[height:25px;]::

* \(\displaystyle m=\frac{1}{2} \sum_i  \theta_i\,n_i\)

div::[height:75px;]::

div::[font-size:85%; line-height:1.2em;]
::(.ref) link::assets/floater_2005.pdf[Michael S. Floater, Géza Kos, Martin Reimers. Mean value coordinates in 3D. CAGD, 2005] ::
::(.ref) link::assets/ju_2005_siggraph.pdf[Tao Ju, Scott Schaefer, Joe Warren. Mean Value Coordinates for Closed Triangular Meshes. SIGGRAPH 2005] ::
::



div::[position:fixed; top:150px; right:150px;]
img::assets/mean_2D.svg[width:500px;]
::


div::[position:fixed; top:600px; right:150px;]
img::assets/mean_3D.jpg[width:900px;]
::
