= Laplacian/Differential Coordinates Editing

* Initialization: Encode vertex position as __differential coordinates__ w/r neighbors
** Ex. Laplacian coordinate value \(\delta p\)

div::[height:50px;]::

* During deformation
** - Try to match constrained position for subset of vertices
** - While preserving the differential coordinates 
*** __Local neighborhoods appearance__

div::[height:50px;]::

div::[text-align:center;]
img::assets/laplacian_deformation.jpg[width:1400px;]
::