
= Procedural Noise

What is a spatial/temporal procedural noise:
* - Function with visible structure/pattern (limited frequency bandwith)
* - Without visible periodicity
* - Deterministic (Same result from a given input)

::[height:75px;] ::

::[text-align:center; font-size:75%;]
img::assets/perlin.png[height:300px;]
img::assets/worley.jpg[height:300px;]
img::assets/flow.jpg[height:300px;]
img::assets/noise_2.jpg[height:300px;]
img::assets/noise_3.png[height:300px;]
div:: __Examples of 2D procedural textures__ ::
::