

= Comparison between approaches



* Small \(h=0.2/\omega\)

div::[text-align:center;]
img::assets/comparison_small_h.svg[width:1700px;]
::

* __ span::[color:red] True solution :: , span::[color:blue] Semi-implicit Euler :: , span::[color:magenta] Velocity Verlet :: , Runge-Kutta RK4__

div::[height:50px;]::

* - RK4 - best behavior (undistinguishable from true solution)
