

= Smooth curve

**Objective**: Generate a **smooth** interpolating space-time curve

div::[height:25px;]::

* __Classical Idea__ div::[display:inline-block;width:25px;] :: Use polynomials curves 

div::[height:25px;]::

\(\left\{\begin{array}{l} \displaystyle p(t)=\sum_{i=0}^{N-1} \,\alpha_i(t)\;p_i \\ \displaystyle \alpha_i(t) = \sum_{j=0}^{d} c_i^j\,t^i \end{array} \right.\)


div::[height:25px;]::


* \((\alpha_i)\) polynomial basis function of degree \(d\)

div::[height:50px;]::

** __Which polynomials/degree choose__ ? 
