

= Boids Model - Extensions


Improving force computation
* - Vision-based force computation (angle, speed) : limited view angle

div::[position:fixed; top:200px; left:1500px;]
img::assets/neighbor.svg[width:250px;]
::

div::[height:25px;]::

Improving collision avoidance
* - Velocity-based

div::[height:25px;]::

img::assets/speed_based.png[width:900px;]

::(.ref) link::assets/pettre.pdf[Experiment-based Modeling, Simulation and Validation of Interactions between Virtual Walkers. J. Pettré et al. SCA 2009] ::