= Laplacian editing: Sketching silhouette deformation

div::[text-align:center;]

videoplay::assets/silhouette.mp4[width:1000px;]{controls}

::(.ref) link::assets/sbime.pdf[A Sketch-Based Interface for Detail-Preserving Mesh Editing. A. Nealen et al. SIGGRAPH 2005] ::

::