= When physically based simulation is needed

* - Accurate dynamics
* - Teadious to model by hand or procedurally
** - Multiple interacting elements: ex. Multiple collisions: rigid bodies, hairs, etc.
** - Complex animated geometry: Cloths, fluids

div::[height:50px;]::

div::[display:flex;justify-content:space-around;align-items:center;]
img::assets/fluid.png[height:350px;]
img::assets/cloth.png[height:450px;]
img::assets/solid.jpg[height:350px;]
::