= Particles Level Set


* Limitation of level sets: smoothing and loss of volume from grid interpolation

div::[line-height:1.4em;]
* \(\Rightarrow\) Use of **Particle Level Set Method**

div::[font-size:90%;]
* ::(.ref) link::http://physbam.stanford.edu/~fedkiw/papers/stanford2001-04.pdf[D. Enright et al. Hybrid Particle Level Set Method for Improved Interface Capturing. J. Comp. Physics 2001] ::
* ::(.ref) link::http://physbam.stanford.edu/~fedkiw/papers/stanford2002-03.pdf[D. Enright et al. Animation and Rendering of Complex Water Surfaces, ACM SIGGRAPH 2002] ::
::
::

::[height:1em;]::

div::[display:inline-block;width:670px;]
img::assets/hybrid_level_set_01.png[width:670px;]
img::assets/hybrid_level_set_02.png[width:670px;]
img::assets/particles_01.png[height:210px;]
img::assets/particles_02.png[height:210px;]
::

div::[display:inline-block; width:1050px;]
videoplay::assets/glass00.webm[width:450px]
videoplay::assets/splash.webm[width:450px]
div::[text-align:center;font-size:80%;] D. Enright et al. span::[color:gray;]__(8 min / frames)__  :: ::
::