= Example of matrix

div::[position:fixed; top:75px; right:50px;]
img::assets/example_matrix.svg[width:450px;]
::



div::[font-size:95%;]
\( \underbrace{\left(\begin{array}{rrrrrr} X & X & X & X & X & X \\ X & X & X & X & X & X \\ X & X & X & X & X & X \\ X & X & X & X & X & X \\ X & X & X & X & X & X \\ X & X & X & X & X & X  \\ \hline X & X & X & X & X & X \\ X & X & X & X & X & X \end{array}\right)}_{\mathrm{M}} \underbrace{\left(\begin{array}{c}q_0 \\ q_1 \\ q_2 \\ q_3 \\ q_4 \\ q_5 \end{array}\right)}_{q} = \underbrace{\left(\begin{array}{c} \delta_0 \\ \delta_1 \\ \delta_2 \\ \delta_3 \\ \delta_4 \\ \delta_5 \\ \hline \omega \,c_1 \\ \omega \,c_4 \end{array}\right)}_{b} \)
::

div::[height:25px;]::

* Q. Fill the values of the matrix for this case
** Note: Only 2 soft positional constraints on \(q_1\) and \(q_4\)