= Correspondance quaternion to rotation matrix

* The unit quaternion \(q=(x,y,z,w)\) represents the rotation given by the matrix
\[R=
\left(
\begin{array}{ccc}
1-2(y ^ 2+z ^ 2) & 2 (x y - w z) & 2 (x z + w y) \\
2 (x y + w z) & 1 - 2 (x ^ 2 + z ^ 2) & 2 (y z - w x) \\
2 (x z - w y) & 2 (y z + w x) & 1- 2 (x ^ 2 + y ^ 2)
\end{array}
\right)
\]

div::[line-height:1.5em;]
div::[height:50px;]::

__Demonstration__

div::[height:25px;]::

* \(v'=\mathcal{R}_q(v) = q \, q_v \, q^{\star} = ((w ^ 2-s ^ 2)\, v + 2 (s \cdot v)\,s + 2 w\,(s\times v),0)\;\;\) with \(s=(x,y,z)\)

div::[height:25px;]::

* \(v' = (w^2-x^2-y^2-z^2) v + 2 \left(\begin{array}{lll}x & y & z\end{array}\right) v \left(\begin{array}{lll} x & y & z\end{array}\right)^T + 2 w \left(\begin{array}{l}x & y & z\end{array}\right) \times v \)

div::[height:25px;]::

* \(v' = \left((w^2-x^2-y^2-z^2)\,\mathrm{I} + 2 \left(\begin{array}{ccc}x^2 & xy & xz \\ xy & y^2 & yz \\ xz & yz & z^2\end{array}\right) + 2 w\;\left(\begin{array}{ccc} 0 & -z & y \\ z & 0 & -x \\ -y & x & 0 \end{array}\right)\right)v\)

div::[height:25px;]::

* \(v' = R\,v\), with \(x^2+y^2+z^2+w^2=1\)
::