
= Rigid Skinning

* Attach rigidly subset of vertices to specific bones, described by its root joint/frame.
** __Vertices are following rigid deformation of their associated frame.__

div::[height:25px;]::

== Deformation formulation

div::[font-size:85%; line-height:1.5em;]
* Consider, at rest pose/initial state/Bind pose
** - A frame \(\mathrm{M}^0\)
** - A vertex \(v^0\) attached to this frame
* After deformation
** - New frame \(\mathrm{M}\)
** - New vertex position \(v\)
::

div::[height:50px;]::

* **Question:** What are the new coordinates \(v\) w/r \(\mathrm{M}\), \(\mathrm{M}^0\), \(v^0\) ?



div::[position:fixed; top:280px; right:100px;]
img::assets/humans.jpg[width:225px;]
div::[display:inline-block;width:25px;]::
img::assets/elephant_leg.jpg[width:550px;]
::
