= Cage-based Deformation

* Use a cage surrounding the shape
** (+) Adapts deformation locality to shape morphology/topology

div::[position:fixed; top:150px; right:50px;]
img::assets/cage_idea.svg[width:625px;]
::

div::[height:50px;]::

* Introduced for 3D meshes in 2005 

::(.ref)[margin-left:50px;]
link::assets/meanvalue.pdf[Tao Ju, Scott Schaefer, Joe Warren. Mean value coordinates for closed triangular meshes. SIGGRAPH 2005]
::

div::[height:25px;]::

div::[text-align:center;]
img::assets/cage_illustration.jpg[width:1300px;]
::


div::[height:50px;]::

* How to compute the spatial deformation from arbitrary cage ?