

= Collision between spheres

* Given 2 spheres \((p_1,v_1,r_1,m_1)\), \((p_2,v_2,r_2,m_2)\).
* Collision when \( \|p_1-p_2\| \leq r_1+r_2\)

div::[height:50px;]::

div::[text-align:center;]
img::assets/sphere_collision.svg[width:500px;]
::


div::[height:50px;]::

* What happen with their velocities ?
** \(v_1\to v_1^{new}\), \(v_2\to v_2^{new}\)