
= 3D Modeling

div::[line-height:1.3em;]
* In production 
** - Polygonal mesh modeling
div::[font-size:85%; font-style:italic;]
*** Coarse to fine approach
*** 1. Low res modeling (extrusion)
*** 2. Subdivide, Refine
::
** - Parametric (NURBS) modeling
* __Everything else is "VFX"__

div::[height:25px;]::

div::[font-size:85%;]
* Common tools: Maya, 3DSMax, Cinema4D, Blender, etc.
::
::

div::[height:50px;]::

img::assets/maya.jpg[width:500px;]
img::assets/extrusion.jpg[width:500px;]
img::assets/refining.jpg[width:500px;]

div::[position:fixed; top:150px; right:100px; width:600px;]
videoplay::assets/modeling_session.webm[width:600px;]{controls}
::