= Triangle as continuous elements


* - Defining Bending Energy between triangles

** - \(\displaystyle W_B(x)=\sum_{edges\;e} (\theta_e-\theta_e^0) \frac{\|e^0\|}{h_e^0} \)
div::[font-size:80%; line-height:1.6em;]
*** link::http://www.cs.columbia.edu/cg/pdfs/10_ds.pdf[ [E. Grinspun et al., Discrete Shells, SCA 2003] ]
*** __(or expressed using forces in link::https://www.cs.ubc.ca/~rbridson/docs/cloth2003.pdf[ [R. Bridson et al., SCA 2003] ]__)
::

div::[height:25px;]::

* - Going toward full FEM numerical resolution
div::[font-size:80%; line-height:1.6em;]
** - B. Thomaszewski et al. link::http://www-labs.iro.umontreal.ca/~bernhard/PDF/Subdiv_SCA06.electronic.pdf[[SCA 2006]], link::http://www-labs.iro.umontreal.ca/~bernhard/PDF/seams-vriphys08.pdf[[VRIPHYS 2008]], link::http://www-labs.iro.umontreal.ca/~bernhard/PDF/Thomaszewski09CSL.pdf[[EG 2009]].
::


div::[position:fixed; left:900px; top:200px;]
img::assets/grinspun.svg[width:500px;]
div::[display:inline-block;width:50px;]:: 
img::assets/grinspun_result.png[width:300px;]
::

div::[position:fixed; left:1200px; top:500px;]
img::assets/strain_limiting.png[width:350px;]
::

div::[position:fixed; left:200px; top:700px;]
img::assets/thomaszewski.png[width:800px;]
::