= Extensions

== Other coordinates

* Green coordinates
::(.ref)[margin-left:50px]
link::assets/green_coordinates.pdf[Green Coordinates. Y. Lipman et al. SIGGRAPH 2008]
::

* Bi-Harmonic Coordinates
::(.ref)[margin-left:50px]
link::assets/biharmonic.pdf[Biharmonic Coordinates. O. Weber et al. CGF 2012]
::


* Multi-cage
::(.ref)[margin-left:50px]
link::assets/multi_cage.pdf[*Cages: A multilevel, multi-cage-based system for mesh deformation. F. Garcia et al. ACM TOG 2013]
::

* MVC on quad meshes
::(.ref)[margin-left:50px]
link::assets/quad_meshes.pdf[Mean value coordinates for quad cages in 3D. J.-M. Thiery et al. SIGGRAPH Asia 2018]
::


div::[height:50px;]::

== Cage creation

* Building good cage is non-trivial task
** Multiple works to avoid manual creation
::(.ref)[margin-left:75px]
link::assets/cageR.pdf[Skeleton Based Cage Generation Guided by Harmonic Fields. S. Casti et al. Computer & Graphics 2019] 
::
::(.ref)[margin-left:75px]
link::assets/cage_generation_harmonic.pdf[CageR: Cage-based Reverse Engineering of Animated 3D Shapes. J.-M. Thiery et al. CGF 2012.]
::

::[position:fixed; right:50px; top:250px; width:900px;]
img::assets/differences.jpg[width:850px;]
::

::[position:fixed; right:100px; top:550px;]
img::assets/multi_cage.jpg[width:450px;]
::