= Modeling appearance - Rendering purpose

div::[display:flex; justify-content:space-around;]

div::[]
img::assets/shading.png[height:400px;]
div::[text-align:center;] **Shading** ::
::

div::[]
img::assets/texturing.jpg[height:400px;]
div::[text-align:center;] **Texturing** ::
::

div::[]
img::assets/lighting.jpg[height:400px;]
div::[text-align:center;] **Lighting** ::
::

::

div::[height:25px;]::

div::[display:flex;justify-content:space-around;]
div::[]
img::assets/mate_painting_02.jpg[height:250px;]
img::assets/mate_painting_01.jpg[height:250px;]
div::[text-align:center;] **Mate painting** ::
::
::