= Stable Fluids - General Algorithm


div::[height:1em;]::


img::assets/block.svg[width:1500px;]


div::[position:fixed; top:750px; left:700px;]
videoplay::assets/diffusion.mp4[width:250px;]
::

div::[position:fixed; top:750px; left:1450px;]
videoplay::assets/divergence.mp4[width:250px;]
::

div::[position:fixed; top:400px; left:1620px;]
videoplay::assets/velocity_and_density.mp4[width:250px;]
::