

= Lagrange polynomial interpolation : Comparison

* __Ex. Global effect on curve when two samples are added.__


div::[position:fixed;top:220px;left:100px;]
div::[text-align:center]
10 samples
::
video::assets/10.mp4[]{autoplay muted loop}
::

div::[position:fixed;top:200px;left:700px;]
div::[text-align:center]
12 samples
::
video::assets/12.mp4[]{autoplay muted loop}
::