

= Animation sub-parts

* 1- **Posing** the __key frames__
** __Set the main general posture of the character__
** __Linked to geometric **character deformation**, time is not involved__

div::[height:75px;]::

* 2- **Animating** the in-betweens
** - **Timing** : Place key frames at specific times (global length of an action)
** - **Spacing** : Speed of the interpolation (dynamic of the action)


div::[height:75px;]::

img::assets/animation.jpg[width:750px]

div::[position:fixed; top:650px; left:1000px;]
img::assets/EditingCurves.jpg[width:600px]
::

div::[position:fixed; top:80px; left:1250px;]
img::assets/key_framing.png[width:550px]
::