= Deformers example cases

* Q. How to model this interactive deformer ?

div::[text-align:center;]
videoplay::assets/scale.mp4[width:750px]{controls}
videoplay::assets/twist.mp4[width:850px]{controls}
::