= FFD limits and extensions

div::[width:1100px; line-height:1.3em;]
* FFD introduced in 1986 
::(.ref)[margin-left:50px]
link::assets/sederberg_ffd_1986.pdf[Thomas Sederberg, Scott Parry. Free-Form deformation of solid geometric models, SIGGRAPH 1986.]
::

div::[height:25px;]::

* Initially described with Bezier polynomials
** But extends to Spline with any basis function 
** __BSpline, NURBS, etc__


div::[height:25px;]::


* Limitations 
** - Large grid is hard to manipulate
** - Doesn't take into account shape morphology

::

div::[height:25px;]::

div::[width:500px; position:fixed; top:200px; right:100px;]
img::assets/ffd_01.jpg[height:300px;]
img::assets/ffd_02.jpg[height:300px;]
::

div::[width:1000px; display:flex; justify-content:space-around;]
img::assets/large_grid.jpg[height:350px;]
img::assets/shape_morphology.svg[height:350px;]
::