
= Post Production

**Compositing**

div::[line-height:1.3em;]
* Blend all layers: Rendered and real ones
** Note: Rendering of color layers but also depth and normals.
::

* Main software: Nuke (Foundry)

div::[height:25px;]::

videoplay::assets/post_prod.mp4[width:1100px;]{controls}
