= Dual Quaternion  VS LBS

div::[width:750px;]
* Dual quaternion
** (+) Fully solves __candy wrapper__ artifact
** (+) Almost as efficient as LBS

** (-) May create artificial/unwanted bulge
*** __Not always prefered to LBS__ 
*** __Both solutions (LBS, DQS) are proposed in standard tools__
::

div::[position:fixed; top:200px; left:875px;]
img::assets/lbs_dqs.jpg[width:1000px;]
::

div::[font-size:75%;]
div::[position:fixed; top:750px; left:1025px; ]
LBS
::
div::[position:fixed; top:750px; left:1540px; ]
DQS
::
::