= Rotation: Focus on Quaternions

* Quaternions: generalization of complex numbers.

div::[height:50px;]::

* span::[border-width:3px;border-style:solid;border-color:red; padding:8px;] \(q = x\,{\bf i}+ y \, {\bf j} + z \, {\bf k} + w\) :: span::[display:inline-block;width:75px;] :: \(w\) real part, \((x,y,z)\) imaginary (or pure quaternion) part.

div::[height:50px;]::

* We write in short \(q=(x,y,z,w)\) 
div::[font-size:80%;]
** __(don't confound with 4D vectors in homogeneous coordinates)__
::

div::[height:50px;]::

* Properties of imaginary basis vectors

div::[height:25px;]::

* \( {\bf i}^2={\bf j}^2={\bf k}^2=-1 \)
* \( {\bf i} {\bf j} = -{\bf j} {\bf i} = {\bf k} \)
* \( {\bf j} {\bf k} = -{\bf k} {\bf j} = {\bf i} \)
* \( {\bf k} {\bf i} = -{\bf i} {\bf k} = {\bf j} \)
* \( {\bf i} {\bf j} {\bf k} = -1 \)

div::[height:25px;]::

** - Provides the algebraic properties