
= Rigging

* Attach deformation handles to the mesh
* Each handle (controler) is associated to a deformation - degrees of freedom

div::[height:25px;]::

* Rigging is a technical part
** Python script, Mel (Maya), Lua, etc.

div::[height:50px;]::

div::[display:flex; justify-content: space-around;]
img::assets/rigging_01.jpg[height:400px;]
img::assets/rigging_02.jpg[height:400px;]
::
