

= Spline

**Idea**
* - Define on each part a polynomial 
* - Smooth junctions between them.

<br>

div::[height:50px;]::

How to choose the polynomial

* - Sufficiently high degree to be smooth
* - Sufficiently low degree to avoid oscillations

<br> <br>

* => In Graphics cubic polynomials are often used

** __Allows up to \(C^2\) junctions__


div::[position:fixed;top:300px;left:950px;]
img::assets/spline.svg[width:700px] <br>

div::[text-align:center]
__Each color is another polynomial__
::
::

