
= Perlin Noise - Animation

::[height:2em;]::

::[display:inline-block; vertical-align:top; font-size:75%;]
img::assets/reference.jpg[width:500px;] <br>
Reference surface function
* \((u,v)\in[0,1]^2\,,\;S(u,v)=(u,v,0)\)
::

::[display:inline-block; vertical-align:top; margin-left:3em; font-size:75%;]
videoplay::assets/animation_t.mp4[width:500px;] <br>
Perlin noise can depends on time
* \(S(u,v,t)=(u,v,P(t))\)
::

::[display:inline-block; vertical-align:top; margin-left:3em; font-size:75%;]
videoplay::assets/animation_ut.mp4[width:500px;] <br>
Depends on space and time
* \(S(u,v,t)=(u,v,P(u,t))\)
::
