= IK: Heuristic approach

== Cyclic Coordinates Descent (CCD)

* - Iteratively rotates joint \(j^{N}\to j^{i-1}\to \dots \to j^{1}\) for the extremity (end effector) to be as close as possible from the target.
** __= End-effector aligned with the segment (joint,target)__
* - Restart until convergence

div::[height:25px;]::

<div class="ref">link::assets/lander_1998.pdf[Making Kine More Flexible. Jeff Lander. Game Dev, 1998.]</div>


div::[height:100px;]::

img::assets/ccd.jpg[width:1600px;]


