

= Facial animation

* Facial expression are particularily hard to automatically model
** - Lots of details (huge number of muscles)
** - Human perception is very sensible on face
*** Risk of __Uncanny Valley__

::[height:1em;]::

::[margin-left:150px;]
videoplay::assets/uncanny_valley.mp4[width:800px]{controls}
::

::[position:fixed; top:200px; left:1250px]
img::assets/uncanny.png[width:600px]
::

::[height:25px;]::

