

= Expressive animation

== Follow Through / Secondary motions

div::[position:fixed; top:150px; left:950px;]
img::assets/hair.gif[width:400px;]
::

div::[position:fixed; top:150px; left:1450px;]
img::assets/hair2.gif[]
::

div::[height:250px;]::

img::assets/hat.png[]

div::[display:inline-block;width:100px;]::

img::assets/scarf.png[]

div::[font-size:75%; text-align:center;]
(C) Chiara Porri 
::