

= Result: Collision response - issue with discrete time

* We assumed contact b/w sphere and plane
* But: Exact contact never happens in discrete time
::[line-height:1.3em; font-size:85%; ]
** - __When collision is detected \(\rightarrow\) already inside the wall__
** - __Weight is still acting__
::

::[position:fixed; left:250px; top:450px;]
img::assets/explanation.svg[width:1300px]
::