

= Stability on oscillatory system

* 1D spring system: \(F(p^k,v^k,t^k)=-K\,p^{k}\)
* \(p^{k+1}= 2\, p^k - p^{k-1} - h^2\,K/m\,p^k\)
* \(\Rightarrow p^{k+1}= (2-h^2\,K/m)\, p^k - p^{k-1}\)

* **Stable and permanent oscillation** when \(h<\frac{2}{\sqrt{K/m}}=\frac{2}{\omega}\)


div::[height:2.5em;]::

* Q. How can we demonstrate it ?

div::[height:6em;]::

* Note: \(h<2/\omega\) only valid for one 1D spring. Coupled 3D springs may require smaller value of h.

