= Blending skeleton animation

div::[font-size:85%; line-height:1.3em;]
* Pre-store several looping animation
* Blend between animation for transition
::

<iframe style="overflow:hidden; border:0; width:1750px; height:750px;" frameBorder="0" scrolling="no" src="assets/fk/index.html"></iframe>