

= Boids Model - Usage and limitations

div::[font-size:95%;]

* - Well adapted to flocks (birds, fishes - looking behavior)
* - Display particles using 3D animated model

div::[position:fixed;top:150px;left:1100px;]
videoplay::assets/birds.mp4[width:550px]
::
div::[position:fixed;top:570px;left:1100px;]
videoplay::assets/batman.mp4[width:720px]
::

div::[height:50px;]::

div::[width:900px;]
**Additional behaviors**

* - Objective position/speed value
* - Constraints: Obstacle avoidance, limited velocity
* - Pursue and evade target/other particles - follow the leader, predators, etc.


div::[height:125px;]::

* - __Is collision between particles possible ?__
* - __Human displacement are mostly guided by vision, what key element is missing in the basic boids force-based model ?__
::

::