= Animation design

div::[display:flex;]
div::[width:1200px;]
* Based on the __Line of Action__

div::[line-height:1.6em; font-size:80%;]
* - link::https://hal.inria.fr/hal-00861503/file/guaycanironfard.pdf[[Guay et al., The Line of Action: an Intuitive Interface for Expressive Character Posing, ACM SIGGRAPH Asia 2013]]
* - link::https://hal.archives-ouvertes.fr/hal-01153763/file/SpaceTimeSketching.pdf[[Guay et al., Space-time sketching of character animation, ACM SIGGRAPH 2015]]
* - link::https://dl.acm.org/citation.cfm?id=2925970[[Choi et al., SketchiMo: Sketch-Based Motion Editing for Articulated Characters, ACM SIGGRAPH 2016]]

div::[height:50px;]::

div::[text-align:center;]
video::assets/sketchimo.webm[width:800px;]{autoplay muted loop controls}
::
::

::

div::[width:800px]

video::assets/guay2013.webm[width:700px;]{autoplay muted loop controls}
video::assets/guay2015.webm[width:700px;]{autoplay muted loop controls}

::
::


