= Skinning: File Format

div::[line-height:1.3em;]
* Unfortunately few standard open format to store skinning animation data

** Main open format: Collada (XML), glTF (JSON)
** Common software related formats: FBX, Blend, 3DS, ...
::

div::[height:25px;]::

div::[display:flex; justify-content:space-around;]
div::[]
<iframe style="width:800px; height:600px; border:2px solid black;" src="assets/giranitex_33.xml">
</iframe> <br>
div::[text-align:center; color:gray;]
link::assets/giranitex_33.xml[__collada.dae__]
::
::

div::[]
<iframe style="width:800px; height:600px; border:2px solid black;" src="assets/marine_anims_core.json">
</iframe> <br>
div::[text-align:center; color:gray;]
link::assets/marine_anims_core.json[__.json__]
::
::
::