= Free surface water - Example

div::[text-align:center;]
<iframe style="overflow:hidden; border:0; width:1400px; height:800px;" frameBorder="0" scrolling="no" src="assets/ocean/index.html"></iframe>

div::[font-size:80%; line-height:1.4em;]
* link::https://threejs.org/examples/#webgl_shaders_ocean2[Link Three.js]
::
::