
= Interpolating rigid motion - Comparison

div::[height:100px;]::

div::[display:flex;]

div::[text-align:center;]
videoplay::assets/matrix.mp4[]
__Matrix interpolation__
::

div::[text-align:center;]
videoplay::assets/euler.mp4[]
__Euler angle interpolation__
::

div::[text-align:center;]
videoplay::assets/quaternion.mp4[]
__Quaternion interpolation__
::

::