= Local deformers

* Variety of interactive local and parametric **deformers** in 3D modeling softwares

::[height:25px;]::

* Example: Applying a translation \(t\) only locally around \(c\)
** \(q = p + w(p) \,t\;\) , \(\;\;\;w(p) = \exp(-\|p-c\|^2/\sigma^2)\)

::[height:25px;]::

** \(t\) can be controled interactively 
*** __and other parameters (rotation axis, angle, etc) as well.__

::[height:25px;]::

::[text-align:center;]
img::assets/blender_02.jpg[height:450px;]
img::assets/blender_01.jpg[height:450px;]
::
