= Inverse Kinematics

div::[font-size:90%;]

* **IK**: **I**nverse **K**inematics

div::[line-height:1.6em;]

div::[height:25px;]::

* - Describe position (/and orientation) of __end-effectors__ (contact, walking, etc)
* - Compute joint angles reaching this position

div::[margin-left:100px;]
\(\displaystyle p_k = p_0 + \sum_{i=0}^{k-1}  l_i \;R_i\,u_i\) <br>

__\(R_i\) can be expressed with various rotation parameters (Matrices, Euler angles, axis/angle, quaternions, etc)__
::

div::[height:25px;]::

div::[text-align:center; line-height:1.4em;]
videoplay::assets/ik.webm[width:750px;]
div::[font-size:75%; color:gray;] MiloScerny Animation ::
::



div::[position:fixed; top:150px; left:1400px;]
img::assets/ik_two_angles.png[width:450px]
::


::
::