

= Character Animation Posing - Line of Action


* - Line of action: __Medial axis__ expressing the character pose
* - Express __statically__ the dynamic of the action
** - Unstable pose \(\Rightarrow\) Dynamic action/motion

div::[text-align:center; font-size:75%; margin-top:25px;]
img::assets/happy.png[height:310px]
div::[display:inline-block; width:50px;]::
img::assets/weight.png[height:325px]
img::assets/sad.png[height:310px]
(C) Chiara Porri
::