= Collisions

* - Simple approach : Handled as collision between particles and shapes 
** (+) Simple and efficient
** (-) Collision may still appears within a triangle
** \(\Rightarrow\) Exaustive approach: edges + faces

div::[text-align:center]
img::assets/side.png[width:300px]
img::assets/front.png[width:500px]
::


