= Forward kinematics



**FK** - **F**orward **K**inematics

div::[height:25px;]::

* - Each join angle is set manually

* - Adapted to set orientation of specific parts

* - Interpolate rotations during animation

div::[height:25px;]::

* (+) Generates curved trajectory naturally 

div::[position:fixed; top:150px; left:900px;]
img::assets/fk.jpg[width:850px]
::

div::[height:75px;]::

div::[text-align:center;]
videoplay::assets/fk.webm[width:600px;]
div::[font-size:75%; color:gray;]__MiloScerny Animation__ ::
::

