

= General formulation


Consider relation given a system of **first order** differential equation
* __Mechanical systems are often expressed as__
** - __single equation of second order in \(p\)__
** - __system of first order in \(u=(p,v)\)__

div::[height:50px;]::

In general, we can write

* \(u'(t) = \mathcal{F}(u(t),t)\)

div::[height:25px;]::

If \(\mathcal{F}\) is an affine function in \(u\)

* \(u'(t)=\mathrm{A}(t)\,u(t)+b(t)\)

div::[height:25px;]::

When \(A\) is constant through time

* \(u'(t)=\mathrm{A}\,u(t)+b(t)\)