= Automatic synthesis of skeletal animation

div::[width:900px; line-height:1.5em;]

* Seminal works

div::[height:25px;-]

div::[font-size:85%;]
**  - [link::assets/siggraph94.pdf[Evolving Virtual Creatures. Karl Sims. SIGGRAPH 1994]]

div::[height:25px;]::

**  - [link::assets/siggraph95a.pdf[Automated Learning of Muscle-Actuated Locomotion Through Control Abstraction. Radek Grzeszczuk and Demetri Terzopoulos. SIGGRAPH 1995]]
::

div::[height:50px;]::

** - __Optimization toward objective function coupled with rigid bodies simulations__
** - __Morphological variation from genetic algorithm__

::

div::[position:fixed; top:200px; right:75px;]
video::assets/evolving_creatures.mp4[width:800px;]{autoplay controls muted loop}
::

::