

= Interaction between particles

div::[font-size:90%; line-height:1.3em;]

Interaction as **force field** (interact at distance)

<br><br><br>

Example of usage

* - Models crowd of life-like characters at large scale
** Inspired from physics particles forces (ex. Lennard-Jones potential)
** Attraction at __long-range__
** Repulsion at __short-range__

<br>

* - First model: **Boids** Craig Reynolds 1987
* - Extended later to human crowd modeling


div::[position:fixed; left:1300px; top:100px]
img::assets/interaction.jpg[width:300px]
::

div::[position:fixed; left:1250px; top:350px]
img::assets/force.svg[width:500px]
::

div::[position:fixed; left:200px; top:720px]
img::assets/cohesion.gif[width:300px]
::

div::[position:fixed; left:400px; top:800px]
img::assets/separation.gif[width:300px]
::


div::[position:fixed; left:700px; top:720px]
img::assets/flocking_around_19.gif[width:400px]
::

div::[position:fixed; left:1200px; top:720px]
img::assets/colper.png[width:600px]
::

::