

= Curve editing

div::[font-size:90%; line-height:1.5em;]

div::[height:25px;]::

* - Animation software (Maya, 3DSMax, Blender, etc) always come with a **curve editor**.

div::[height:25px;]::

* - Artists can manually ajust their position, time, and **derivatives** on curve editor.
div::[font-size:80%;]
** - One curve for each scalar parameter 
*** - position \((x,y,z)\)
*** - scaling \((s_x,s_y,s_z)\)
*** - rotation/quaternion \((q_x,q_y,q_z,q_w)\)
::

div::[height:25px;]::

* - Can also use a wrapper function \(w\) to change time \(p(t) = f(w(t))\) 

div::[margin-top:25px; text-align:center;]
img::assets/EditingCurves.jpg[width:650px;]
div::[width:100px; display:inline-block;]::
img::assets/wraping.svg[width:800px; vertical-align:top;]
::
::