= Free Form Deformation

* FFD / Grid Based Deformation
div::[line-height:1.5em;]
** - Embeed shape within a rectangular grid (lattice)
** - Deform the grid \(\to\) space deformation map
::



div::[height:75px;]::

* How to compute the space deformation ?

div::[height:75px;]::

div::[position:fixed; top:150px; right:75px;]
img::assets/ffd_principle.svg[width:750px;]
::




div::[position:fixed; bottom:75px; left:200px; line-height:1.2em;]
videoplay::assets/ffd_2D.mp4[width:500px;]
div::[font-size:80%; color:gray;] Kestrel Moon ::
::