

= Vision based displacement

div::[line-height:1.3em;]
* Render vision for each individual agent
div::[font-size:80%;]
** Compute optical flow \(u\).
** Obstacles are approaching when \({div}(u)>0\)
::
::

div::[height:25px;]::

* Best results, but high computational cost.

div::[position:fixed; top:200px; right:50px;]
img::assets/vision_based.png[width:800px;]
::

videoplay::assets/vision_based.mp4[width:800px;]{controls}

div::[position:fixed; top:600px; left:1000px; width:850px;]
::(.ref) link::http://people.rennes.inria.fr/Julien.Pettre/pdf/SIGGRAPH2010.pdf[A Synthetic-Vision Based Steering Approach for Crowd Simulation. J. Ondrej et al. SIGGRAPH 2010] ::
::(.ref) link::http://people.rennes.inria.fr/Julien.Pettre/pdf/SIGGRAPH2010.pdf[Character navigation in dynamic environments based on optical flow. A. Lopez et al. EG 2019] ::
::