= Linear Blend Skinning - Limitations

* - Non-trivial rigging settings
* - Artifacts for large rotations: Candy wrapper, Collapsing ellbow


div::[height:50px;]::

div::[display:flex; justify-content:center; align-items:center; font-size:75%; line-height:1.6em;]
div::[]
img::assets/candy_wrapper.png[height:300px;]
div::[] Candy wrapper ::
::
div::[width:100px;]::
div::[]
img::assets/collapsing_elbow.png[height:300px;]
div::[] Collapsing elbow ::
::
::

div::[height:50px;]::

* __Linear blending between rigid transformation matrices__

div::[text-align:center;]
img::assets/bar_lbs.png[height:200px;]
::