

= Shape Matching Usage

**Rigid bodies**

* Collision b/w bodies using colliders around vertices

::[margin-left:150px;]
img::assets/collider.png[width:275px;]
::


::[position:fixed; top:100px; left:1100px;]
videoplay::assets/collision-models.mp4[width:700px;]{controls}
::

**Plastic deformation**

* Update the reference shape for large deformation

::[margin-left:150px;]
img::assets/plastic.png[width:450px;]
::

::[position:fixed; top:575px; left:1100px;]
videoplay::assets/plastic_deformation.mp4[width:700px;]{controls}
::

::[font-size:85%; position:fixed; bottom:50px;]
::(.ref) link::https://matthias-research.github.io/pages/publications/MeshlessDeformations_SIG05.pdf[Muller et al. Meshless Deformations Based on Shape Matching. SIGGRAPH 2005] ::
::(.ref) link::https://matthias-research.github.io/pages/publications/flex.pdf[Macklin et al. Unified Particle Physics for Real-Time Applications. SIGGRAPH 2014] ::
::