
= Smooth skinning

div::[font-size:90%; line-height:1.5em;]

* **Linear Blend Skinning** (LBS): Linear interpolation of positions between associated frames

div::[height:25px;]::

* Example at middle vertex position of a bending cylinder
** \(p=0.5\,p_{|b1}+0.5\,p_{|b2}\)
** \(p=0.5\,\underbrace{\mathrm{T}_1\,(\mathrm{T}_1^0)^{-1}}_{\mathrm{M}_1}\, p^0+0.5\,\underbrace{\mathrm{T}_2\,(\mathrm{T}_2^0)^{-1}}_{\mathrm{M}_2}\,p^0\)
** \(p=(0.5\,\mathrm{M}_1+0.5\,\mathrm{M}_2)\,p^0\)




div::[height:50px;]::

* Can be generalized to arbitrary interpolation between two bones
** \(p = \alpha\, p_{|b1} + (1-\alpha)\,p_{|b2}= \left(\alpha \mathrm{M}_1 + (1-\alpha)\,\mathrm{M}_2\right)\,p^0\)
** \(\alpha\): skinning weights

div::[height:50px;]::

* Can be generalized to any number of bones


** <div class="border"> \(\displaystyle p = \sum_{k=0}^{N-1} \alpha_k\;p_{|bk} = \left(\sum_{k=0}^{N-1} \alpha_k \, \mathrm{M}_k\right)\,p^0 \) </div> \(\,\), \(\;\;\displaystyle \sum_k \alpha_k=1\)


div::[position:fixed; top:250px; right:50px;]
img::assets/smooth_skinning.svg[width:500px;]
<br>
img::assets/smooth_skinning_weights.jpg[width:300px;]
::



::