
= Special Effects (VFX)

* Everything which is not handled by traditionnal modeling/rigging/animation
div::[font-size:85%; font-style:italic;]
** Physics (explosion, fluids, dynamic hairs, cloth, ...), particles systems, complex shape, crowd, etc.
::

* Technical R&amp;D part: One element can lead to the development of a dedicated system.

* Main software: Houdini (SideFX)

div::[text-align:center]
videoplay::assets/vfx.mp4[width:1100px;]{controls}
::
