
<style>
.entry{
    width:45%; height:350px; border:2px solid black;
}
</style>

= Types of Simulation Models

== Deformable model
::[display:flex; text-align: center; font-weight:bold;]

div::(.entry)
Particle
div::[margin-top:1em;]
img::assets/1a_particles.png[width:150px;]
::
::

div::(.entry)
Solid
div::[margin-top:1em;]
img::assets/1b_solid.png[width:175px;]
::
::

div::(.entry)
Deformable
div::[margin-top:1em;]
img::assets/1c_volume.png[width:225px;]
::
::

::


== Collision/Constraint Handling

::[display:flex; text-align: center; font-weight:bold;]

div::(.entry)
Force based
div::[margin-top:1em;]
img::assets/2a_forces.png[width:225px;]
::
::

div::(.entry)
Impulse based
div::[margin-top:0.5em;]
img::assets/2b_velocity.png[width:200px;]
::
::

div::(.entry)
Position based

div::[margin-top:1em;]
img::assets/2c_position.png[width:225px;]
::
::
::

::[font-size:80%;]
::[position:fixed; top:520px; left:250px;]
\((p_i,v_i)\)
::

::[position:fixed; top:520px; left:725px;]
\((p_i,v_i,L_i,R_i)\)
::

::[position:fixed; top:520px; left:1325px;]
\(\sigma = C\,\epsilon\)
::


::[position:fixed; top:950px; left:180px;]
\(v_i^{k+1}=v_i^k+F_i/m_i\)
::

::[position:fixed; top:950px; left:725px;]
\(v_i^{k+1} \to \mathcal{F}(v^k)\)
::

::[position:fixed; top:950px; left:1325px;]
\(p_i^{k+1} \to \mathcal{F}(p^k)\)
::

::











