

= Perlin noise applications

In almost every complex shapes ...

img::assets/images.svg[width:1750px;]

div::[font-size:80%;]
Look at link::https://www.shadertoy.com/[Shader Toy] + Noise link::https://www.shadertoy.com/results?query=noise[example]
::