

= Production Pipeline

__Fundamental structure for VFX/animation movie production.__

div::[height:25px;]::

div::[margin-left:100px;]
img::assets/pipeline.svg[width:1500px]
::

div::[position:fixed; bottom:75px; left:50px;]
videoplay::assets/blue_umbrella_making_off.mp4[width:500px;]{controls}
::

div::[position:fixed; bottom:75px; left:1200px;]
videoplay::assets/blue_umbrella_real.mp4[width:675px;]{controls}
::

<br>
<br>
<br>
<br>






