
= Add high frequency details: Notion of Fractal

div::[display:inline-block;width:40%;]
**Idea**: Recursively add self-similar details

* Simple rule \(\Rightarrow\) complex shapes
* May look like complex natural details


::[position:fixed; bottom:100px; width:600px; font-size:80%; font-style:italic; color:gray; line-height:1.3em;]

* __Standard__ fractals (Mandelbrots, Sierpinski, Newtons's root, etc) are very hard to control.
** Not often used directly in CG.

::


::
div::[display:inline-block;]
img::assets/KochFlake.svg[width:700px]
div::[font-size:80%; text-align:center;]
__Koch Snowflake__
::
::

div::[height:50px;]::

div::[text-align:center;margin-left:100px;]

img::assets/triangle_fractal.png[height:200px]
img::assets/Oliva_porphyria.jpeg[height:200px]
div::[font-size:80%;]
__Sierpinski triangle, Shell:Oliva Porphyria__
::

div::[height:25px;]::

img::assets/poulpe_fractal.jpg[height:200px]
img::assets/poulpe.jpg[height:200px]

::

div::[position:fixed; top:500px; left:1400px;]
img::assets/choux_romanesco.jpg[width:400px]
::