= Deformers example cases

* Q. How to model this interactive deformer ?

::[margin-left:100px;]
videoplay::assets/translate.mp4[width:980px]{controls}
::

::[font-size:85%; position:fixed; top:200px; right:50px; width:700px; color:rgb(50,50,50);]
* Input: 
** - \(c\): Selected position on the surface
** - \(t_{2D}\): 2D displacement coordinates of the mouse on screen while dragging
** - \(r\): Circle radius

::[height:50px;]::

* Computation:
** For all positions of the surface \(p\)
*** ...
::
