

= Expressive animation

== Squash & Stretch

* - Very common in cartoon
* - Unrealistic, but surprizingly __plausible__

div::[position:fixed; top:170px; left:850px;]
img::assets/squash.png[height:325px;]
img::assets/stretch.png[height:325px;]
div::[display:inline-block; width:100px;]::
img::assets/ball.gif[height:325px;]
::

div::[text-align:center; margin-top:200px;]
img::assets/jump.png[height:400px;]
div::[display:inline-block; width:100px;]::
img::assets/face.png[height:400px;]
::

div::[font-size:75%; text-align:center;]
(C) Chiara Porri 
::