
=  Deformation of a continuous shape

* Every part of the shape can be deformed
** ex. Describing elastic shapes, visco-elastic shapes, fluids, etc.

div::[height:2em;]::

* Two ways to describe the deforming object

div::[height:1em;]::

div::[display:flex;justify-content:space-around;]

div::[]
**1. Lagrange representation** 

* __Positions follow the object deformation__

div::[text-align:center; margin-top:25px;]
img::assets/lagrange.svg[height:400px;]
::

::
div::[]
**2. Euler representation**

* __Positions are fixed in 3D space__

div::[text-align:center; margin-top:25px;]
img::assets/euler.svg[height:400px;]
::

::

::

div::[position:fixed; top:50px; left:1300px;]
img::assets/fem.png[width:450px;]
::