= Case of implicit surfaces

* Undeformed implicit surface \(S=\{p\in\mathbb{R}^3\;|\;\;g(p)=0\}\)

div::[height:50px;]::

* Given a volume deformation \(f:p\to f(p)\)
* The implicit surface \(S'\) deformed by \(f\) is defined by
** <div class="border">\(S'=\{p\in\mathbb{R}^3\;|\;\;(g\circ f^{-1})(p)=0\}\)</div>

div::[color:gray; font-size:80%; line-height:1.3em; margin-left:50px; margin-top:25px;]
* \(p\in S' \Rightarrow f^{-1}(p)\in S \Rightarrow g(f^{-1}(p))=0\)
::


div::[position:fixed; top:600px; left:600px;]
img::assets/implicit_surface.png[width:775px;]
::
